

body {
  background-color: white;
}

h1 {
  font-size: 200%;
  text-align: center;
  background-color: white;
}

p {
  font-size: 125%;
  margin: 4px;
}

div {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100%;
  margin: 2px;
}

 .event-btn {
   border: none;
   background-color: #427af4;
   color: white;
   font-size: 16px;
   padding: 12px;
 }
