

body {
  background-color: white;
}

h1 {
  text-align: center;
  background-color: white;
}

.event-colors {
  display: flex;
  align-items: center;
}

.color-btn {
  border-radius: 50%;
  cursor: pointer;
  background-color: #4CAF50;
  padding: 10px;
  border: none;
}

.event-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

}

.event-btn {
  background-color: #0066ff;
  border: none;
  color: white;
  padding: 16px 24px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 16px;
}

.both-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.both-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
}
